* {
    font-family: 'poppins', 'sans-serif';
    margin: 0%;
    padding: 0%;
}

body {
    background-color: black;
}

/*Navbar*/
#navber_main{
    background: #051129;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:1% 10%;
    align-items: center;
    z-index: 100;
}
#navbar-toggler{
    background-color: #fff;
}
#navber_portfolio{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    cursor: default;
    opacity: 1;
    animation: slidetRight 1s ease forwards;

}
#navbarNav{
    font-size: 25px;
    color: #fff;
    background: #051129;
    text-decoration: none;
    font-weight: 500;
    margin: 0 0 0 44%
}
#navbarNav ul li a{
    font-weight: 400px;
    color: #fff;
    margin-left: 15px;
    transition: .3s;
    opacity: 1;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));

}

#navbarNav ul li a:hover {
    color: #0ef;
} 


/*About Me Section*/
#row_aboutme_section_col {
    color: #fff;
    padding: 20% 5% 8% 8%;
}

#row_aboutme_section_col2 {
    padding: 14% 5% 8% 5%;    
}

#row_aboutme_section p {
    margin: 0;
}

#row_aboutme_section p span {
    color: #0ef;
}

#row_aboutme_section button {
    margin-top: 5%;
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
    opacity: 0;
    animation-delay: 2s;
    animation: slideTop 1s ease forwards;

}
#row_aboutme_section button a{text-decoration: none; color: black;}
#row_aboutme_section button:hover {
    color: black;
    background: #0ef;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan
}

#row_aboutme_section a {
    transition: .5s ease;


}

#row_aboutme_section a i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #Bef;
    text-decoration: none;
    margin-top: 5%;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

#row_aboutme_section a i:hover {
    background: #0ef;
    box-shadow: 0 0 20px #0ef;
}

#img-fluid_aboutme {
    width: 55%;
    height: 100%;
    border: 1px solid #0ef;
}

#fs-1 {
    font-weight: bold;
    opacity: 0;
    animation: slidetRight 1s ease forwards;
    animation-delay: 1s;
}

#fs-3 {
    font-weight: 500;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
}

#fs-3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}

#fs-5 {
    font-weight: 300;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

/*About Me Section2.0 */
#row_am2 {
    color: #fff;
    margin: 0% 10%;
}

#row_am2_p1 {
    text-align: center;

}

#row_am2_p1 span {
    color: #0ef;
}

#row_am2_p2 {
    color: #0ef;
    font-weight: 600;
    text-align: center;
}

#row_am2_p3 {
    font-weight: 400;
}

/*My skills */
#Skill_p {
    color: #0ef;
    text-align: center;
}

#Skill_p span {
    color: #fff;
}

#Skill_p1 {
    color: #0ef;
    margin-bottom:4%;
}

#Skill_p1 span {
    color: #fff;
}
#skill_div1{text-align: center;}
#skill_div2{text-align: center;}


#skill_div1 i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #Bef;
    margin-left:70%;
}

#skill_div1 i:hover {
    background: #0ef;
    box-shadow: 0 0 20px #0ef;
}
#span{
    color: #fff;
    font-size: 20px;
    margin-right:70%;
}
#span:hover{
    color: #0ef;
}
#skill_div1_row{margin:3% 0px;}
#skill_div2_row{margin:3% 0px;}

#span_ps{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 15px;
    color: #Bef;
    margin-right: 2%;
}

#span_ps_text{
    color: #fff;
    font-size: 20px;
}
#span_ps_text:hover{
    color: #0ef
}

/*My projects */
#Skill_p{
    margin: 0px 0px 3% 0px;
}
#rowofprojects{
    padding: 3%;
   
}
#rowofprojects .col{
    opacity: 0;
    animation: slidetRight 3s ease forwards;
}
#rowofprojects div{
    border: 2px solid #0ef;
    height: 50%;
    margin: 0px 1%; 
    padding: 0;
     
}

#rowofprojects div img{
    max-width: 100%; max-height: 100%;
}

/*My contact */
#contact-form form input, form textarea{
    border: none;
    outline: none;
    width:100%;
    padding: 1%;
    margin: 1%;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    border-radius:0.5rem;
}

#contact-form button{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
    width:100%;

}

#rowofcontactme{
    padding:3% 13%;
}
#rowofcontactme_or{
    color: #0ef;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#rowofcontactme_p1{
    color: #0ef;
}
#rowofcontactme_p2{
    color: #fff;
}
#rowofcontactme_p3 a{
    color:#0ef;
    text-decoration: none;
}